<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ko' }}">
{% include head.html %}
<body>

  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

  <!-- Scripts -->
  {% if site.google_analytics %}
    {% include google_analytics.html %}
  {% endif %}
  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

</body>
</html>