---
layout: default
---

<main class="main-content fadeInDown delay_075s">

  <article class="post">
    <header class="post-header">
      <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{page.date | date: "%Y-%m-%d" }}</time>
      <h1 class="post-title">{{page.title}}</h1>
      <div class="post-meta">
          <span>Category: {{ page.categories[0] }}</span>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="post-content">
      {% if page.toc %}
      <div class="toc-container">
        <h2 id="toc-title" class="toc-title">목차</h2>
        {{ content | toc_only }}
      </div>
      {% endif %}
      {{content}}
    </div><!-- .post-content -->
    <div class="post-share">
      <span>Share:</span>
      <a target="_blank"
        href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | absolute_url }}" rel="noopener">Twitter</a>
      <a target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&amp;t={{ page.title | uri_escape }}" rel="noopener">Facebook</a>
    </div><!-- .share-post -->
  </article><!-- .post -->

  {% include related-posts.html %}

</main><!-- .main-content -->